.GetStarted{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.GetStarted_heading{
    font-size: var(--font_heading);
    font-weight: 500;
}
.GetStarted_container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.GetStarted_Left{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.GetStarted_Right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.GetStarted_flow{
    width: 10rem;
    height: 42rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.GetStarted_details{
    width: 40rem;
    height: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}
.dot_line{
    position: absolute;
    width: 4px;
    height: 80%;
    background: repeating-linear-gradient(to bottom,#000 0,#000 15px,transparent 15px,transparent 28px);
    top: 5rem;
    left: 3.3rem;
}
.step{
    width: 7rem;
    height: 7rem;
    border-radius: 2.3rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font_heading);
    font-size: 3.7rem;
    z-index: 3;
    box-shadow: 0px 5px 40px #00000015;
    transition: .2s;
}
.step:hover{
    transform: scale(1.05);
    color: #fabc18;
}
.step_heading{
    font-size: var(--font_heading_light);
    flex-shrink: 0;
}
.step_des{
    font-size: var(--font_semi_heading_light);
    flex-shrink: 0;
}



@media (max-width: 1000px) {
    .GetStarted{
        gap: 5rem;
    }
    .GetStarted_container{
        width: 100%;
        gap: 8rem;
    }
}

@media (max-width: 850px) {
    .GetStarted_container{
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .GetStarted_container{
        width: 100%;
        gap: 10rem;
        margin-top: 5rem;
    }
    .GetStarted_flow{
        height: 55rem;
    }
    .GetStarted_details{
        height: 55rem;
    }
}