.App{
    width: 155rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: transparent;
    gap: 10rem;
    z-index: 9;
}